* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --width--: 80%;
  --bg--header--: #d9d9d9;
  --black--: #000;
  --white--: #fff;
}

header {
  background: var(--bg--header--);
  padding: 20px 60px;
}

header .header-top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: var(--width--);
}

[src="./images/logo.png"] {
  width: 200px;
  cursor: pointer;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 80px;
}

header ul li,
header ul button {
  font-weight: 600;
  cursor: pointer;
}

header ul button {
  background: var(--black--);
  width: 90px;
  padding: 8px 0;
  border: none;
  outline: none;
  margin-left: 10px;
}

ul button a {
  color: var(--white--);
}

section {
  background: var(--bg--header--);
  padding: 50px 0;
}

section .sec-infos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
.sec-infos .sec-text h2 {
  font-size: 30px;
}

.sec-infos .sec-text h3 {
  text-decoration: underline;
  margin: 8px 0 12px 0;
  cursor: pointer;
  font-size: 23px;
}

.sec-infos .sec-text a {
  font-size: 25px;
  font-weight: 700;
  background: #000000;
  color: #fff;
  padding: 5px;
}

section .sec-infos img {
  width: 50%;
  animation: teste 1s linear alternate infinite;
  position: relative;
}

@keyframes teste {
  0% {
    top: 0;
  }

  25% {
    top: 7px;
  }

  50% {
    top: 14px;
  }
  100% {
    top: 28px;
  }
}

main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width--);
  margin: auto;
  text-align: center;
  padding: 50px 0;
}

nav .nav-cards img {
  width: 300px;
  height: 260px;
}

nav .nav-cards p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
}

main h4 {
  font-size: 22px;
  background: var(--black--);
  color: var(--white--);
  padding: 10px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
main aside {
  margin-top: 50px;
}
main aside nav {
  flex-direction: column;
  gap: 150px;
}

nav .products-line {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
nav .products-line img {
  width: 150px;
}

nav .products-line p {
  font-size: 20px;
  margin: 10px 0px 20px 0;
  cursor: pointer;
  border-bottom: 2px solid var(--black--);
}

nav .products-line label {
  font-size: 20px;
  font-weight: 700;
  background: var(--black--);
  color: var(--white--);
  padding: 5px;
}

nav .products-line + button {
  font-weight: 700;
  background: var(--black--);
  color: var(--white--);
  width: 200px;
  font-size: 18px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

footer {
  background: var(--bg--header--);
  padding: 35px 30px 12px 30px;
}

footer .footer-top {
  text-align: center;
}

footer .footer-top h5 {
  font-size: 22px;
  margin: 6px 0 5px 0;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom .contact p {
  font-size: 22px;
  font-weight: 700;
}
.footer-bottom ion-icon {
  width: 30px;
  height: 30px;
}

[class^="i"] {
  display: flex;
  align-items: center;
  gap: 10px;
}

[class^="i"] label {
  font-size: 22px;
}

.item1 {
  margin: 12px 0 5px 0;
}

.footer-bottom .social-medias h6 {
  font-size: 22px;
}

a {
  text-decoration: none;
}
a.blackColor {
  color: var(--black--);
}
a:not(.blackColor) {
  color: var(--white--);
}
